@import url('fonts.css');
:root {
  --navbar-bg:#223f5a;
  --bg-features-white: #eeeeee;
  --bg-features-white-lead: #a1a1a1;
  --trans-01: rgba(0, 0, 0, 0.1);
  --trans-04: rgba(0,0,0,.4);
  --trans-02: rgb(0,0,0,0.2);
  --trans-bckgr-01: #e1e1e1;
  --crta-info: #03a9f4;
  --crta-warning: #ff9800;
  --crta-danger:  #f44336;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
    font-family: "Poppins";
}

p {
    font-family: "Nunito";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}
.main-fnt h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;font-weight: 600;
}
@font-face {
    font-family: "GoodTimes";
    src: url(../font/good-times.ttf) format("truetype");
}

.logo-font b{
  font-family: 'GoodTimes';
}
.logo-font p{
  font-family: 'Poppins';  font-weight: 500;
}
.bg-features{
    background-color:var(--bg-features-white);
}
.crta{
    border-bottom:1px var(--crta-info) solid;
}

.ms-hero{
    background-image:url("home.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    color:var(--bg-features-white);
    margin-top:-40px;
    padding:30px 0 0;
    padding:3rem 0 0;box-shadow: 0 5px 10px rgb(83, 83, 83);
}
.ms-hero.ms-hero-material{color:var(--bg-features-white);background-color:var(--navbar-bg);min-height:450px;position:relative;width:100%;overflow:hidden;z-index:0}

.naslovna-list-bckgr{
    text-align:start;
    margin-right:-10000px;
    padding-right:10000px;
    padding-bottom:5px;
    margin-bottom:50px;
    margin-top: -40px;
    padding-top: -40px;
    font-family: 'Nunito';
}
.ms-hero-material-text-container{
    margin:0;
    text-align:start;
    z-index:6;
}
.ms-hero-material-text-container .ms-hero-material-title{
    text-align:center;
    margin-top: -10px;
    z-index:6;;margin:0;font-size:20px;font-size:2rem;letter-spacing:1px}
.ms-hero-material-text-container .ms-hero-material-list{list-style-type:none;padding:0}
.ms-hero-material-text-container .ms-hero-material-list li{display:table;margin-bottom:10px;margin-bottom:1rem}
.ms-hero-material-text-container .ms-hero-material-list li .ms-list-icon{display:table-cell;vertical-align:middle}
.ms-hero-material-text-container .ms-hero-material-list li .ms-list-icon .ms-icon{margin:0 20px 0 0;margin:0 2rem 0 0}
.ms-hero-material-text-container .ms-hero-material-list li .ms-list-text{display:table-cell;vertical-align:middle;font-size:12px;font-size:1.2rem;line-height:10px;line-height:1rem}

.nav-item a {
       font-family: "Poppins";
}

.navbar{
    background-color:var(--navbar-bg); /*
    background-image:url("nav.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:center;*/
    height:0.75rem;
    height:75px;
    border-radius:0;
    color: var(--crta-info);
    text-align: center;
    padding: 0;
    border: 0;
    box-shadow: 0 0 2px var(--bg-features-white-lead)
/*    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, transparent 20%, var(--crta-info) 50%, transparent 80%) 1;
*/    }
.nav-vendor{
  background-image: url('vendor-logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width:180px;
  margin-left: 50px;
}
.nav-drop-menu{
  display: inline-flex;
  position: fixed;
  left:0;
  cursor: pointer;
  padding: 4px 4px 6px 12px;
  z-index: 1000;
  border:0;
  background:transparent;
  width:40px;
  transition: background-color 0.3s ease;
  border-left:2px solid var(--crta-info);
}
.nav-drop-menu i{
  font-size: 20px;
  font-weight: 300;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-drop-menu i:hover{color:var(--crta-info);text-shadow:1px 1px 1px rgba(0,0,0,.8);}
.nav-drop-menu.active i {
  transform: rotate(180deg);
}
.nav-dropdown-content {
  display: hide;
  opacity: 0;
  transform: translateX(-100%);
  position: fixed;
  z-index: 2000;
  border-radius: 0;
  overflow: hidden;
  top: 75px;
  right: 50%;
  left: -22px;
  padding-bottom: 12px;
  padding-top: 12px;
  box-shadow: 0 0 2px var(--crta-info);
  background: var(--navbar-bg);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.nav-dropdown-content p{
  text-decoration: none;
  color:var(--bg-features-white);
  text-align:center;
  font-family:"Nunito";
  border-bottom:1px solid rgba(255, 255, 255, 0.1);
}

.nav-dropdown-content a {
  text-decoration: none;
  color:var(--bg-features-white);
  text-align:start;
  font-family:"Nunito";
  width:100%;
  display:block;
  padding:0 0 6px 20px;
  margin-left: 20px;
}

.nav-dropdown-content a:hover {
  background-color: var(--trans-01);
  color: var(--crta-info);
}

.nav-drop-menu.active .nav-dropdown-content {
  opacity: 1;
  display:block;
  transform: translateY(0);

}
.mshero-margin-top{
    margin-top:50px;
}
.features-margin-top{
    margin-top:60px;
}

.btn-ms-menu img{font-size:21px;
font-size:2.1rem;
margin-top:-2px;
margin-right:20px;
display:none;
}

.ms-slidebar{background-color:var(--navbar-bg);width:100%;overflow:hidden;position:fixed;top:75px;left:-100%;transition:all ease .35s;height:auto;z-index:2000;border-top:1px solid var(--crta-info);border-bottom:1px solid var(--crta-info)
}
.ms-slidebar.open{left:0
}
.ms-slidebar .sb-slidebar-container{height:100%;overflow:auto;-webkit-overflow-scrolling:touch
}
.ms-slidebar .sb-slidebar-container::-webkit-scrollbar-track{-webkit-box-shadow:none;background-color:transparent
}
.ms-slidebar .sb-slidebar-container::-webkit-scrollbar{width:4px;height:4px;background-color:transparent;position:absolute!important
}
.ms-slidebar .sb-slidebar-container::-webkit-scrollbar-thumb{background-color:var(--navbar-bg);border-radius:100px
}
.ms-slidebar .ms-slidebar-block{padding:0 20px
}
.ms-slidebar .ms-slidebar-block .ms-slidebar-block-title{font-weight:400;margin-bottom:20px
}
.ms-slidebar .ms-slidebar-block .ms-slidebar-social{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:20px
}
.ms-slidebar .ms-slidebar-header{min-height:150px;position:relative
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-login{display:block;display:table;width:100%
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-login a{color:var(--bg-features-white);text-align:center;display:table-cell;width:50%;padding:10px 20px
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-login a i{margin-right:10px
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title{position:absolute;display:block;bottom:0;width:100%;vertical-align:middle;height:50px;overflow:hidden
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .ms-slidebar-t{float:left;margin-left:20px;line-height:50px
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title h3{color:var(--bg-features-white);font-size:20px;margin:0;word-spacing:-4px;display:inline-block;vertical-align:middle;margin-left:10px
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title h3 span{font-weight:400
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form{vertical-align:top;display:inline-block;position:relative;height:50px;min-width:50px;padding:0;margin:0;transition:width ease 1s;z-index:0;float:right
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form #search-submit{position:relative;left:-5000px;width:0;padding:0;border:0;height:0
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form label{width:50px;height:50px;text-align:center;line-height:50px;font-size:20px;color:var(--bg-features-white);cursor:pointer;position:absolute;left:0;top:0;z-index:3;transition:transform ease .5s;transition-delay:.2s
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form label:hover:before{height:50px;width:50px;top:0;left:0
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form .search-input{height:50px;border:0;width:0;padding:0;background-color:transparent;display:inline-block;transition:width ease .5s;vertical-align:top;padding-left:50px;border-radius:var(--navbar-bg);color:var(--bg-features-white)
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form .search-input::-webkit-input-placeholder{color:rgba(255,255,255,.7)
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form .search-input::-moz-placeholder{color:rgba(255,255,255,.7)
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form .search-input:-ms-input-placeholder{color:rgba(255,255,255,.7)
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form .search-input:-moz-placeholder{color:rgba(0,0,0,.3)
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form .search-input:-webkit-autofill{-webkit-text-fill-color:var(--bg-features-white)!important
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form .search-input:focus{width:300px;border-bottom:solid 3px var(--crta-info);border-radius:0
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form .search-input:focus+label{transform:ScaleX(-1);color:var(--crta-info)
}
.ms-slidebar .ms-slidebar-header .ms-slidebar-title .search-form .search-input:focus+label:before{transition:none;display:none
}
.ms-slidebar .ms-slidebar-menu{list-style-type:none;padding:0
}
.ms-slidebar .ms-slidebar-menu>li{margin:0;box-shadow:none;border:0
}
.ms-slidebar .ms-slidebar-menu>li>a{display:block;padding:12px 20px;font-size:16px;font-weight:400;color:var(--bg-features-white);background-color:var(--navbar-bg);
letter-spacing:1px;
}
.ms-slidebar .ms-slidebar-menu .active {color:var(--bg-features-white);font-weight:500; background-color:var(--trans-01)
}
.ms-slidebar .ms-slidebar-menu .active:hover {background-color:var(--trans-01);color:var(--crta-info)
}
.ms-slidebar .ms-slidebar-menu>li>a:after{font-size:1.2em;float:right;content: url('icon.svg');transition:all ease .3s
}
.ms-slidebar .ms-slidebar-menu>li>a.collapsed{background-color:var(--bg-features-white);color:var(--navbar-bg)
}
.ms-slidebar .ms-slidebar-menu>li>a.collapsed:after{content:'\f278';transform:rotate(180deg)
}
.ms-slidebar .ms-slidebar-menu>li>a.link{background-color:var(--bg-features-white);color:var(--navbar-bg)
}
.ms-slidebar .ms-slidebar-menu>li>a>i{margin-right:15px
}
.ms-slidebar .ms-slidebar-menu>li>a:hover{background-color:var(--trans-01);color:var(--crta-info)
}

.ms-slidebar .ms-slidebar-menu>li>ul{list-style-type:none;padding:0
}
.ms-slidebar .ms-slidebar-menu>li>ul li>a{display:block;padding:12px 20px;font-size:16px;font-weight:400;color:var(--navbar-bg);background-color:var(--bg-features-white)
}
.ms-slidebar .ms-slidebar-menu>li>ul li>a:hover{background-color:var(--bg-features-white);color:var(--crta-info)
}
.ms-slidebar .ms-slidebar-menu>li>ul li>a>i{margin-right:15px
}
.ms-slidebar .ms-slidebar-menu>li>ul li:last-child{border-bottom:solid 1px var(--bg-features-white)
}

.button-row-my {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Nunito';
}

.button-row-my .btn {
    margin: 0 10px;
}

.ms-toggle-left {
    cursor: pointer;
    position: fixed;
    padding:5px;
    right:15px;
    z-index: 1000;
    display:none;
    background-color:transparent;
    border:0;
    padding:0;
}
.ms-toggle-left img{
    padding:5px;
}

.ms-toggle-left:hover {
    transition:all ease .30s;
}

@media only screen and (max-width: 993px){
    .ms-toggle-left {
        display: block;
    }
}
.navbar-nav i {margin:0 10px 3px 0;
}

.ms-navbar .navbar-collapse .navbar-nav .nav-item.active a,.ms-lead-navbar .navbar-collapse .navbar-nav .nav-item.active a{color:var(--bg-features-white);text-shadow:1px 1px 1px rgba(255,255,255,.4);}

.ms-navbar .navbar-collapse .navbar-nav .nav-item.active a:hover,.ms-navbar .navbar-collapse .navbar-nav .nav-item.active a:focus,.ms-lead-navbar .navbar-collapse .navbar-nav .nav-item.active a:hover,.ms-lead-navbar .navbar-collapse .navbar-nav .nav-item.active a:focus{color:var(--crta-info);text-shadow:1px 1px 1px var(--trans-04);}

.ms-navbar .navbar-collapse .navbar-nav .nav-item>a>i,.ms-lead-navbar .navbar-collapse .navbar-nav .nav-item>a>i{transition:transform ease .5s;will-change:transform;}
.ms-navbar .navbar-collapse .navbar-nav .nav-item>a:hover,.ms-navbar .navbar-collapse .navbar-nav .nav-item>a:focus,.ms-lead-navbar .navbar-collapse .navbar-nav .nav-item>a:hover,.ms-lead-navbar .navbar-collapse .navbar-nav .nav-item>a:focus{color:var(--crta-info);text-shadow:1px 1px 1px var(--trans-04);}

.ms-navbar .navbar-collapse .navbar-nav .nav-item>a,.ms-lead-navbar .navbar-collapse .navbar-nav .nav-item>a{padding:0;padding:0 17px;padding:0 7rem;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;position:relative;overflow:hidden;font-size:14px;font-size:1.4rem;color:var(--bg-features-white-lead);margin-right:2px;
    font-weight: 300;
}

.ms-hero.ms-hero-material .ms-hero-img{padding-left:0;padding-top:0;position:relative;margin:0;margin:0;z-index: 9999;
}
.ms-hero.ms-hero-material .img-fluid{margin-left:-1px;margin-left:-0.1rem;}
.ms-hero.ms-hero-material .ms-hero-img .carousel{position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden
}
.ms-hero.ms-hero-material .ms-hero-img .carousel .carousel-indicators{position:absolute;bottom:130px;left:auto;right:40px
}
.ms-hero.ms-hero-material .ms-hero-img .carousel .carousel-indicators li{height:12px;width:12px;border-radius:100%;background-color:var(--navbar-bg)
}
.ms-hero.ms-hero-material .ms-hero-img .carousel .carousel-indicators li.active{background-color:var(--crta-info)
}
.ms-hero.ms-hero-material .ms-hero-img .ms-hero-img-slider{position:absolute;width:100%;height:100%;top:0;left:0
}

.ms-icon.ms-icon-xlg{width:24px;height:24px;font-size:15px
}
.ms-icon-cccc{width:24px;height:24px;font-size:15px
}
.carousel-cntrl-box{
 margin-bottom:1rem;height:1rem;
}

.img-avatar-circle{width:70px;height:70px;border-radius:6px;border:solid 1px var(--bg-features-white);background-color:var(--bg-features-white);box-shadow:0 3px 4px 0 rgba(0,0,0,.1),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);margin:5px auto;display:block;position:relative;z-index:1;
}
.img-avatar-circle-logo{width:52px;height:52px;margin:5px 0 0 5px;display:flex;position:relative;z-index:1;
}
.img-avatar-circle-logo img{
    display:flex;
    position:relative;
}
.logos-b{
    text-shadow:1px 1px 1px rgba(255,255,255,.4);margin:0 ;font-size:20px;font-size:2rem;letter-spacing: 1px;
}

.img-avatar-circle-1{display:flex;position:relative;z-index:1;margin:10px 0 0 10px; padding: 5px 0 0 5px;border-radius:6px;border:solid 1px var(--bg-features-white);
box-shadow:0 3px 4px 0 rgba(0,0,0,.1),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);}
.footer-shadow{z-index:1;border-radius:6px;border:solid 1px var(--bg-features-white);
box-shadow:0 3px 4px 0 rgba(0,0,0,.1),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);}
.img-avatar-circle img{
    display:block;
    margin-left:8px;
    margin-top:8px;
    height:54px;
    width:54px;
}
.img-avatar-circle:hover{box-shadow:0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2)
}
.features-p {
    padding:0 1.5rem;
}
.features-p-b {
    margin:0 1rem;    padding:0 1rem;
}

.table tr:hover{padding:0;
}
.table th{font-size:12px;font-weight:500;letter-spacing:1px;}
.table td{font-size:12px;font-weight:500;}
.ms-footer{padding:12px 0;padding:1.2rem 0;text-align:center;background-color:var(--navbar-bg);color:var(--bg-features-white);box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.14),inset 0 3px 1px -2px rgba(0,0,0,.2),inset 0 1px 5px 0 rgba(0,0,0,.12)
}
.ms-footer p:last-child{margin-bottom:0
}

.footer-bar{border-top:1px solid grey; padding-top:5px;}
.ms-footer-alt-color{background-color:var(--navbar-bg)
}
.ms-footer-text-right{text-align:right
}
.ms-footbar{background-color:var(--navbar-bg);color:var(--bg-features-white);position:relative;
}
.ms-footbar a{color:var(--bg-features-white);transition:all ease .3s
}
.ms-footbar a:hover,.ms-footbar a:focus{color:var(--crta-info)
}
.ms-footbar .ms-footbar-block{margin:20px 0;margin:2rem 0
}
.ms-footbar .ms-footbar-block .ms-footbar-title{margin:0 0 15px;margin:0 0 1.5rem
}
.uizradi{min-height:70vh;}
.naslovminus{margin-left:-10px;}
.naslovnaomot{

    background-image:url(sjena.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;

}
.naslovnamargin{
    background-color:var(--trans-04);
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    margin-right:-10000px;
    padding-right:10000px;
}
.section-block-grey {
    padding: 0;}



.boja-grey {

    background-color: var(--navbar-bg)
}
.section-heading-line-left {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 5px
}
.section-heading-line-center {
    content: '';
    display: block;
    width: 44%;
    margin-left:27%;
    margin-right:27%;
    height: 3px;
    background: var(--crta-info);
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 5px
}


.owl-carousel .blog-grid-simple {
    margin: 10px 15px 25px 15px
}

.blog-grid-simple {
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .16);
    -moz-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .16);
    box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .16);
    padding: 30px;
    margin: 15px 0
}
.tabela-okvir-1{
    border: 1px solid rgba(0,0,0,.2);
}
.tabela-okvir{
    background-color:var(--navbar-bg);
}
.tabela-font{
      font-family: 'Nunito';
}
.blog-grid-simple h4 {
    font-family: "Nunito";
    color:var(--navbar-bg);
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
}
.blog-grid-simple-linija{
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom:10px;
}
.blog-grid-simple h4 a {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px
}

.blog-grid-simple h4 a:before {
    margin-right: 10px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.blog-grid-simple h4 a:hover {
    color: var(--crta-info);
}

.blog-grid-simple p {
    font-family: "Nunito";
    color:var(--navbar-bg);
    font-size: 15px;
    font-weight: 400
}

.blog-grid-simple-date i {
    font-size: 20px
}

.blog-grid-simple-date h5 {
    font-size: 15px;
    margin-top: 3px
}

.blog-grid-simple-content {
    border-top: 1px solid #ececec;
    padding-top: 20px;
    margin-top: 15px
}

.blog-grid-simple-content a {
    display: inline-block;
    color:  var(--crta-info);
    font-weight: 600;
    font-size: 14px;
    margin-top: 2px
}

.blog-grid-simple-content a:after {
    font-size: 14px;
    color: var(--crta-info);
    margin-left: 10px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

@media (max-width:767px) {
    .blog-grid-simple-content a:after {
        display: none
    }
}

.blog-grid-simple-content a:hover {
    color: var(--navbar-bg)
}

.blog-grid-simple-content a:hover:after {
    color: var(--navbar-bg)
}
.index-page .blog-grid-simple h4 a:before,
.index-page .blog-grid-simple-content a:after {
    display: none
}
.blog-grid-simple-content a:after {
    content: ">"
}

.blogging .blog-grid-simple,
.index-page .blog-grid-simple {
    padding-top: 0
}

  .blog-grid-simple img {
    max-width: 100%;
    height: auto;
    display: block;
  }
.blog-grid-simple-content {
    border-top: 1px solid rgba(0,0,0,.2);
    padding-top: 20px;
    margin-top: 15px
}

.blog-grid-simple-content a {
    display: inline-block;
    color: var(--crta-info);
    font-weight: 600;
    font-size: 14px;
    margin-top: 2px
}

.blog-grid-simple-content a:after {
    font-size: 14px;
    color: var(--crta-info);
    margin-left: 10px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

@media (max-width:767px) {
    .blog-grid-simple-content a:after {
        display: none
    }
}

.blog-grid-simple-content a:hover {
    color: var(--navbar-bg)
}

.blog-grid-simple-content a:hover:after {
    color: var(--navbar-bg)
}

.blog-grid-simple-content a:after {
    content: ">"
}

.index-page .blog-grid-simple-content a:after {
    display: none
}
.img-fluid{max-width:95%;height:auto; padding-top:50px;padding-top:5rem;padding-left:5%;}

.features-alt-color{background-color:var(--bg-features-white);box-shadow: 0 3px 5px rgb(83, 83, 83);
}

.col-lg-104,.col-lg-108{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}

.col-lg-104{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
.col-lg-108{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}


.btn-sakriveni{
    display:none;
}
@media (max-width:767px) {
    .btn-sakriveni {
        display: block;
        position:fixed;
        right:65px;
    }
}

@media only screen and (max-width: 993px){
    .btn-sakriveni {
        display: block;
        position:fixed;
        right:65px;
        background-color:transparent;
        border:none;

    }
}
.bg-sponsor {
  border-top: 1px solid var(--crta-info);
  background-color:var(--navbar-bg);
}

footer {
/*  border-top: 1px solid var(--crta-info);*/
  background-color:var(--navbar-bg); 
  color: white;
  padding-bottom: 1px;
  height: 100%;
  text-align: center;
}
.footer-content {
  text-align: center;
}


.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: var(--accent-color);
}

.footer-logo {
  width: 150px;
  height: 50px;
}

.sponsor {
  text-align: center;
}

.sponsor p {
  margin: 0%;
}

.sponsor img {
  margin: 2%;
  height: 100px;
  width: auto;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--crta-info);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: none;

  z-index: 1000;
}

.back-to-top:hover {
  background-color:var(--trans-02);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 10px;
    right: 10px;
    font-size: 0.9em;
    padding: 8px 12px;
  }
}
.text-img {
  width: 1.8rem;
}

.card-img-top {
  width: 15%;
  margin-top: -0.5rem;
  margin-left: 85%;
}

.card-title-b, a.card-title-b:hover {
  font-family: 'Nunito';  font-weight: 500;
  margin-top: -4.0rem;
  margin-top: -40px;
  margin-right: 8px;
  text-decoration: none;
    color: var(--crta-info);
    padding: 0;
    border: 0;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, transparent 40%, var(--crta-info) 100%, transparent 80%) 1;
}

.bg-2{
    background-color: var(--navbar-bg);
}
.bg-2-dark{
    background-color: var(--trans-02);
}
.bg-1{
    background-color: var(--trans-01);
}
.bg-3 {
    background-color:var(--trans-01);
}
.panelbox {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
  padding: 2em;
  margin-block: 1em; }
  .panelbox img {
    width: 50%; }
  .panelbox section {
    display: inline-flex;
    flex-direction: column;
    width: 100%; }
    .panelbox section.center {
      align-items: center; }
  .panelbox.bottom img {
    width: fit-content;
    margin-bottom: -2em; }
  .panelbox.row {
    flex-direction: row; }
  @media screen and (max-width: 1023px) {
    .panelbox.row {
      flex-direction: column; }
    .panelbox img {
      width: max-content;
      max-height: 20em; } }


.panelbox.showcase > section {
  align-items: center; }

.panelbox.showcase .items {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  width: 100%; }
  .panelbox.showcase .items section {
    display: inline-flex;
    flex-direction: row;
    gap: 1em;
    width: 24em; }
    .panelbox.showcase .items section img {
      height: fit-content;
      width: 4em; }
.ready-to-go {
  background: transparent;
 }

  .rd-md {
  border-radius: 5px; }
.card-title-c, a.card-title-b:hover {
  font-family: 'Nunito';  font-weight: 500;
  margin-top: -4.0rem;
  margin-top: -40px;
  margin-right: 8px;
  text-decoration: none;
    color: var(--crta-info);
    padding: 0;
    border: 0;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent 40%, var(--crta-info) 100%, transparent 80%) 1;
}
.card-img-top-c {
  width: 15%;
  margin-top: 7px;
  margin-left: 7px;
  margin-bottom: 7px;
}

.nunito-dark{
    font-family: 'Nunito';
    color:var(--navbar-bg);
}

.linija-dole {
    color: var(--crta-info);
    text-align: center;
    padding: 0;
    border: 0;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, transparent 20%, var(--crta-info) 50%, transparent 80%) 1;
}
.linija-dole-edu {
    color: var(--crta-warning);
    text-align: center;
    padding: 0;
    border: 0;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, transparent 20%, var(--crta-warning) 50%, transparent 80%) 1;
}
.linija-dole-sec {
    color: var(--crta-danger);
    text-align: center;
    padding: 0;
    border: 0;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, transparent 20%, var(--crta-danger) 50%, transparent 80%) 1;
}

.card-body-c{
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .30rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
}

.trans-bckgr{
    background-color:var(--bg-features-white);
}
.trans-bckgr-1{
    background-color:var(--trans-bckgr-01);
}

.card-bckgr{
  background-color: var(--bg-features-white);
  color: rgba(0,0,0,.87);
}

.btn-info-c{color:var(--crta-info);
}

.btn-info-c:hover{color:#00acc1}
.text-info-c{color:var(--crta-info)
}
.text-info-bg{background-color:var(--crta-info);color:black;
}

.linija-footer {
    border-bottom: 1px solid #647983;
    margin-left:10%;
    margin-right:10%;
}
.about-menu {
    margin-left: -30px;
    margin-right: -16px;
    padding-bottom: 10px;
}

.navbar-color{
    background-color:var(--navbar-bg);
}

.about-menu ul li{
    padding: 13px 0 13px 25px;
    color: white;
}
.about-menu ul li:hover{
    background-color: var(--trans-bckgr-01);color:grey
}
.about-active {
    background-color:rgb(0, 0, 0, 0.2)
}
.bodymargin{
    height: 60px;
}
.aboutmargin{
    height: 35px;
}
.abouttext{
    font-family: 'Nunito';
    color:var(--navbar-bg); text-align: justify;
    font-size:larger;
    margin:20px 0 20px 0;
}
.abouttext-men{
    font-family: 'Nunito';
    font-size: 14px;
    color:var(--navbar-bg);

}
.abouttext-men li a{
    color: white;padding:0 12px 2px 12px;
}
.abouttext-men li a:hover{
    background-color: rgb(0, 0, 0, 0.1);color:var(--crta-info);
}

.reqtext{
    font-family: 'Nunito';
    color:var(--navbar-bg); text-align: justify;
    font-size: 15px;
}
.abouttext-normal{
    font-family: 'Nunito';
    font-size: 17px;
    color:var(--navbar-bg);}

.gold-main-logo {
    width:  140px;
    height: 30px;
    object-fit: contain;
    margin-bottom: scale-down;
    margin-bottom: 20px;
    margin-top: 20px
}

.silver-main-logo {
    width:  140px;
    height: 30px;
    object-fit: contain;
    margin-bottom: scale-down;
}

.bronze-main-logo {
    width:  140px;
    height: 30px;
    object-fit: contain;
    object-fit: scale-down;
}
.openbosniana-main-logo {
    width:  300px;
    height: 50px;
    object-fit: contain;
    object-fit: scale-down;
    padding:5px
}

@media (max-width:767px) {
    .gold-main-logo {
        width:  100px;
        height: 20px;
    }

    .silver-main-logo {
        width:  100px;
        height: 20px;
    }

    .bronze-main-logo {
        width:  100px;
        height: 20px;
    }
}


.linija-footer-gore {
    color: var(--navbar-bg);
    text-align: center;
    padding: 0;
    border: 0;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, transparent 20%, var(--navbar-bg) 50%, transparent 80%) 1;
}

.section-title {
  padding-bottom: 15px;
  position: relative;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 25px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--navbar-bg), transparent 30%);
  position: relative;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--crta-info);
  margin: 4px 10px;
}

.section-title p {
  color:var(--navbar-bg);
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  font-family:"Nunito";
}
.features-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}
.features-content.visible {
  max-height: 500px;
  margin-top:15px;
  opacity: 1;
  border-top:1px solid var(--navbar-bg);
}
.shadow-features{box-shadow:0 0rem .4rem rgba(0,0,0,.50)!important}
.shadow-features:hover{box-shadow:0 0rem .4rem var(--crta-info)!important}
.shadow-features2:hover{box-shadow:0 0rem .4rem var(--crta-info)!important}
.shadow-features3{box-shadow:0 0rem .4rem rgba(0,0,0,.50)!important}
.features-btn {
  transition: transform 0.3s ease;
}

.features-btn.rotated {
  transform: rotate(180deg);
}

.dd-bg{
    background-image:url("dd.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

    .snavbar {
      font-family: 'Nunito';
      color:var(--bg-features-white);
      position: fixed;
      top: 0;
      left: 60px; /*
      right: 50%; */
      margin-top:75px;
      height: 28px;
      background-color: var(--navbar-bg);
      display: flex;
      align-items: center;
      z-index: 1000;
      box-shadow:0 0 1px var(--bg-features-white);
    }

    .snavbar ul {
      display: flex;
      background-color:var(--navbar-bg);
      font-size:15px;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 2px 1px black;
    }

    .snavbar > ul > li {
/*      flex: 1;
  */  position: relative;
      text-align: center;
      min-width:100px;
    }

    .snavbar a {
      color: var(--bg-features-white);
      font-family: 'Nunito';
      text-decoration: none;
      padding: 2px 0;
      display: block;
      height: 100%;
      width: 100%;
      
    }

    .snavbar a:hover {
      background-color: var(--crta-info);
      color:var(--navbar-bg);
    }

    .sdropdown-menu {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.4s ease, opacity 0.4s ease;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 200px;
      background-color: var(--navbar-bg);
      border-top:1px solid black;
      padding: 10px;
      z-index: 999;
    }

    .sdropdown-menu a {
      padding: 6px 0;
      display: block;
      text-align:start;
      padding-left:10px
    }

    .sdropdown.open .sdropdown-menu {
      max-height: 500px; 
      opacity: 1;
    }
    
#smenuToggleBtn{
position:fixed;background-color:#03a9f4; top:75px; left:0; z-index:1100;width:60px;border-left:2px solid #eeeeee;height:29px;color:#000;padding-left:8px;cursor:pointer;transition: 0.3s;

}
.ob-blog-posts .ob-article {
  padding: 30px 20px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff!important;
  box-shadow:0 0rem .5rem rgba(0,0,0,.10)!important;
}

.ob-blog-posts .ob-post-img {
  max-height: 300px;
  margin: -80px -80px 15px -80px;
  overflow: hidden;
}

.ob-blog-posts .ob-post-category {
  font-size: 16px;
  color: color-mix(in srgb, var(--crta-danger), transparent 40%);
  margin-bottom: 10px;
  font-weight: 700;
}

.ob-blog-posts .ob-title {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 20px 0;
  font-family:"Nunito"!important;
}

.ob-blog-posts .ob-title a {
  color:var(--navbar-bg);
  transition: 0.3s;
}

.ob-blog-posts .ob-title a:hover {
  color: var(--crta-info);
}

.ob-blog-posts .ob-post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.ob-blog-posts .ob-post-author {
  font-weight: 600;
  color: var(--navbar-bg);
  margin-bottom: 5px;
  font-size: 15px;
}

.ob-blog-posts .ob-post-date {
  font-size: 14px;
  color: var(--crta-info);
  font-weight: 500;
  margin-bottom: 0;
}
ob-section,
.obsection {
  padding: 0;
  font-family:"Nunito"!important;
}
.ob-blog-details .meta-bottom {
  padding-top: 20px;
  border-top: 1px solid color-mix(in srgb, var(--navbar-bg), transparent 60%);
  border-bottom: 1px solid color-mix(in srgb, var(--navbar-bg), transparent 60%);
}

.ob-blog-details .meta-bottom i {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  display: inline;
  margin-right:2px
}

.ob-blog-details .meta-bottom a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  transition: 0.3s;
}

.ob-blog-details .meta-bottom a:hover {
  color: var(--crta-info);
}

.ob-blog-details .meta-bottom .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.ob-blog-details .meta-bottom .cats li {
   display: inline-block;
   margin-right:10px;
   box-shadow:0 0rem .2rem rgba(0,0,0,.60)!important;
   padding:2px 4px;
   border-radius:5px;
   margin-bottom:20px
}

.ob-blog-details .meta-bottom .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.ob-blog-details .meta-bottom .tags li {
  display: inline-block;
}

.ob-blog-details .meta-bottom .tags li+li::before {
  padding-right: 6px;
  color: var(--default-color);
  content: ",";
}

.ob-blog-details .meta-bottom .share {
  font-size: 16px;
}

.ob-blog-details .meta-bottom .share i {
  padding-left: 5px;
}
.widgets-container {
  margin: 0;
  box-shadow:0 0rem .1rem rgba(0,0,0,.50)!important;
  border-radius:10px;
  padding: 1px 15px
}
.ob-meta-top{
    display: inline-block;
    border-top: 1px solid color-mix(in srgb, var(--navbar-bg), transparent 60%);
    border-bottom: 1px solid color-mix(in srgb, var(--navbar-bg), transparent 60%);
    padding:10px 0 20px 0;
}
.ob-meta-top li{
   display: inline-block;
   margin-right:10px;
   padding:2px 4px;
   margin-top:10px;
}
.ob-meta-top a {
  color: var(--nabar-bg);
  padding-left:4px;
  border-left:2px solid var(--crta-danger)
}
.ob-meta-top li:hover{
  color: var(--crta-danger);
  transition: 0.1s;
}

.ob-meta-top-p{
    display: inline-block;
    padding:3px 4px;
    text-align:start!important;
    background-color:var(--navbar-bg);
    box-shadow:0 0rem .5rem rgba(0,0,0,.50)!important;
    margin-top:-5px!important;
    border-radius:4px
}

.ob-meta-top-p li{
   display: inline-block;
   margin: 2px 2px;
   box-shadow:0 0rem .1rem rgba(0,0,0,.10)!important;
}
.ob-meta-top-p a {
  color: var(--bg-features-white);
  padding-left:6px;
}
.ob-meta-top-p a:hover{
  color: var(--crta-info);
  transition: 0.2s;
}
